.counter {
    align-items:center;
    justify-content: center;
    button {
        background-color: #3498db;
        border: none;
        color: white;
        padding: 5px 5px;
        margin: 5px;
        text-align: center;
        font-size: 12px;
        border-radius:3px;
    }
    padding-bottom:30px;
}